{:highlights [{:id #uuid "64a07108-fb60-4650-91ed-2ccd56885ba6",
               :page 99,
               :position {:bounding {:x1 1548.7021484375,
                                     :y1 1169.799560546875,
                                     :x2 1565.9195556640625,
                                     :y2 1271.688232421875,
                                     :width 2692.7999999999997,
                                     :height 3484.7999999999997},
                          :rects ({:x1 1548.7021484375,
                                   :y1 1169.799560546875,
                                   :x2 1565.9195556640625,
                                   :y2 1271.688232421875,
                                   :width 2692.7999999999997,
                                   :height 3484.7999999999997}),
                          :page 99},
               :content {:text "M5-CB3 (RED)"},
               :properties {:color "yellow"}}],
 :extra {:page 44}}
