{:highlights [{:id #uuid "64a7349d-75d0-44e7-8a38-d0c24611e00c",
               :page 29,
               :position {:bounding {:x1 59.015625,
                                     :y1 161.40625,
                                     :x2 529.5416259765625,
                                     :y2 176.40625,
                                     :width 668.9999999999999,
                                     :height 865.7647058823528},
                          :rects ({:x1 59.015625,
                                   :y1 161.40625,
                                   :x2 118.05846405029297,
                                   :y2 176.40625,
                                   :width 668.9999999999999,
                                   :height 865.7647058823528}
                                  {:x1 216.4375,
                                   :y1 161.40625,
                                   :x2 529.5416259765625,
                                   :y2 176.40625,
                                   :width 668.9999999999999,
                                   :height 865.7647058823528}),
                          :page 29},
               :content {:text "514134 Light, LED, Super thin, Aluminized, frosted lens"},
               :properties {:color "yellow"}}],
 :extra {:page 41}}
