{:highlights [{:id #uuid "649c98f5-4b2e-4dad-ad19-f5f9e01ed08a",
               :page 1,
               :position {:bounding {:x1 77.6875,
                                     :y1 708.234375,
                                     :x2 241.61073303222656,
                                     :y2 720.734375,
                                     :width 1468.8,
                                     :height 950.4},
                          :rects ({:x1 77.6875,
                                   :y1 708.234375,
                                   :x2 241.61073303222656,
                                   :y2 720.734375,
                                   :width 1468.8,
                                   :height 950.4}),
                          :page 1},
               :content {:text "Adaptive Cruise Control with Stop and Go"},
               :properties {:color "yellow"}}
              {:id #uuid "649c9948-33d8-482e-8c59-51843a42639a",
               :page 1,
               :position {:bounding {:x1 81.5234375,
                                     :y1 542.1015625,
                                     :x2 280.94775390625,
                                     :y2 556.1015625,
                                     :width 1632,
                                     :height 1056},
                          :rects ({:x1 81.5234375,
                                   :y1 542.1015625,
                                   :x2 280.94775390625,
                                   :y2 556.1015625,
                                   :width 1632,
                                   :height 1056}),
                          :page 1},
               :content {:text "Ram Connect (Connected Services) with Trial"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
