{:highlights [{:id #uuid "64a07108-fb60-4650-91ed-2ccd56885ba6",
               :page 99,
               :position {:bounding {:x1 1548.7021484375,
                                     :y1 1169.799560546875,
                                     :x2 1565.9195556640625,
                                     :y2 1271.688232421875,
                                     :width 2692.7999999999997,
                                     :height 3484.7999999999997},
                          :rects ({:x1 1548.7021484375,
                                   :y1 1169.799560546875,
                                   :x2 1565.9195556640625,
                                   :y2 1271.688232421875,
                                   :width 2692.7999999999997,
                                   :height 3484.7999999999997}),
                          :page 99},
               :content {:text "M5-CB3 (RED)"},
               :properties {:color "yellow"}}
              {:id #uuid "64a8b2eb-61e3-483f-8120-65477e8d58d4",
               :page 99,
               :position {:bounding {:x1 567.6358642578125,
                                     :y1 627.6171875,
                                     :x2 603.7578125,
                                     :y2 635.1171875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 567.6358642578125,
                                   :y1 627.6171875,
                                   :x2 603.7578125,
                                   :y2 635.1171875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 99},
               :content {:text "CBL7 (8Ga.)"},
               :properties {:color "yellow"}}],
 :extra {:page 105}}
