{:highlights [{:id #uuid "649f3713-06d6-4bc7-927a-71ecff82ceaf",
               :page 95,
               :position {:bounding {:x1 108.8794937133789,
                                     :y1 148.6640625,
                                     :x2 480.9610290527344,
                                     :y2 160.6640625,
                                     :width 570,
                                     :height 737.6470588235294},
                          :rects ({:x1 108.8794937133789,
                                   :y1 148.6640625,
                                   :x2 480.9610290527344,
                                   :y2 160.6640625,
                                   :width 570,
                                   :height 737.6470588235294}),
                          :page 95},
               :content {:text "The status indicator light on the control switch will flash to indicate the fault code."},
               :properties {:color "yellow"}}],
 :extra {:page 95}}
