{:highlights [{:id #uuid "64a826fd-cfac-47b9-84fd-0d6a63371da3",
               :page 2,
               :position {:bounding {:x1 63.3125,
                                     :y1 127.1875,
                                     :x2 395.11944580078125,
                                     :y2 139.1875,
                                     :width 538,
                                     :height 696.2352941176471},
                          :rects ({:x1 63.3125,
                                   :y1 127.1875,
                                   :x2 395.11944580078125,
                                   :y2 139.1875,
                                   :width 538,
                                   :height 696.2352941176471}),
                          :page 2},
               :content {:text "Mating Connector Terminal: Tyco P/N 350218-1 (up fitter provided)"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
